{% extends 'base.html' %}
    {% block 'content' %}
    <div class="container text-center">
        <div class="col-12 col-md-6 offset-0 offset-md-3 my-5 mb-4">
            <h3 class="text-center">
                Contáctanos
            </h3>
        </div>
        <div class="my-5">
            <form action="/contacto" method="post">
                {% csrf_token %}
                <!--{{ form }} Django realiza el trabajo de separar cada atributo-->
                {{form.non_field_errors}}
                <div class="mb-3 text-center">
                    <label for="{{form.customer_name.id_label_tag}}" class="form-label">
                        {{form.customer_name.label_tag}}
                    </label>
                    <div>
                        {{form.customer_name}}
                    </div>
                    <div class="text-danger text-center">
                        {{form.customer_name.errors}}
                    </div>
                </div>

                <div class="mb-3 text-center">
                    <label for="{{form.customer_email.id_label_tag}}" class="form-label">
                        {{form.customer_email.label_tag}}
                    </label>
                    <div>
                        {{form.customer_email}}
                    </div>
                    <div class="text-danger text-center">
                        {{form.customer_email.errors}}
                    </div>
                </div>

                <div class="mb-3 text-center">
                    <label for="{{form.message.id_label_tag}}" class="form-label">
                        {{form.message.label_tag}}
                    </label>
                    <div>
                        {{form.message}}
                    </div>
                    <div class="text-danger">
                        {{form.message.errors}}
                    </div>
                </div>
                <div class="mb-3 text-center">
                    <input class="btn btn-primary" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
    {% endblock %}
